*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 100vh;
  padding: calc(0.5rem + 1.5625vw);
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../assets/img/bg-intro-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  text-wrap: pretty;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

@media screen and (min-width: 45rem) {
  body {
    background-image: url(../assets/img/bg-intro-desktop.png);
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(23.75rem, 100%), 1fr));
  justify-items: center;
  column-gap: 0.5rem;
  row-gap: 2rem;
  width: 100%;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.presentation__title {
  font-size: 2.5rem;
}
.presentation__description {
  font-size: 1rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sign-up__free-trial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.free-trial__description {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.free-trial__description span {
  font-weight: 600;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(4, 0, 0, 0.2);
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.form__input {
  width: 100%;
  height: 2.75rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(249, 10%, 26%);
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 0.25rem;
  outline: none;
}
.form__input:focus {
  border-color: hsl(248, 32%, 49%);
}

.submit-btn {
  width: 100%;
  height: 2.75rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}
.submit-btn:hover {
  cursor: pointer;
}

.sign-up__terms-and-conditions {
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  color: hsl(246, 25%, 77%);
}
.sign-up__terms-and-conditions a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}
.sign-up__terms-and-conditions a:hover {
  cursor: pointer;
}
.sign-up__terms-and-conditions a:visited {
  color: hsl(0, 100%, 74%);
}

.error-icon {
  display: none;
  position: absolute;
  right: 0.5rem;
}

.advice-error--active {
  display: none;
  align-self: end;
  font-size: 0.75rem;
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

@media screen and (min-width: 56rem) {
  .main > section {
    width: 85%;
  }
  .presentation {
    text-align: start;
  }
}

/*# sourceMappingURL=desktop.css.map */
